*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.docs/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/javax.sound.midi/build/
/.idea/jarRepositories.xml
/.idea/inspectionProfiles/Project_Default.xml
